{#
/**
 * @file
 * Simple Thank You Component Template.
 *
 * Available variables:
 * - thank_you_use_thank_you: Checkbox use Thank You(Boolean).
 *
 */
#}
<!--<label class="thankYou">{{ thank_you_use_thank_you }}</label>-->

{{ attach_library('campaign_kit/demo-styling') }}
<div class="thanks-page campaign">
  <div class="campaign-thankyou-header">
    <div class="campaign-header-image">
      {{ thank_you_component.header_image }}
    </div>
    <div class="campaign-title">
      <h1>{{ 'Thank you for your donation.'|trans }}</h1>
    </div>
  </div>
  <p>
    {% set thank_you_message = {
      '#type':   'processed_text',
      '#text':    thank_you_component.thank_you_message,
      '#format': thank_you_component.thank_you_message_format,
    } %}
    {{ thank_you_message }}
  </p>
  <p class="campaign-desc">
    {{ 'Please check your inbox for an email confirmation.'|trans }}
  </p>


  {% if thank_you_component.dedicate_donation  %}

    <div class="honor-details">
      <h2 class="campaign-subtitle">{{ 'Details of the dedication'|trans }}</h2>
      <p>
        <b>{{ 'Recipient’s Info'|trans }}:</b>
        {{ thank_you_component.recipient_mail }}
      </p>
      <p>
        <b>{{ 'Recipient’s Name'|trans }}:</b>
        {{ thank_you_component.recipient_first_name }} {{ thank_you_component.recipient_last_name }}
      </p>
      <p class="memory-detail">
        {{ 'Your gift has been made'|trans }}
        {% if thank_you_component.dedicate_type == 'in_honor_of' %}
          <span> {{ 'in honor of'|trans }} </span>
        {% else %}
          <span> {{ 'in memory of'|trans }} </span>
        {% endif %}
        <b>
          {{ thank_you_component.honoree_first_name }}
          {{ thank_you_component.honoree_last_name }}{{ thank_you_component.recipient_message|render|trim is not empty ? ':' : '.' }}
        </b>
      </p>

      {% if thank_you_component.recipient_message|render|trim is not empty %}
        <div class="memory-description">
          {{ thank_you_component.recipient_message }}
        </div>
      {% endif %}
    </div>

  {% endif %}

  <p class="campaign-info">
    {{ thank_you_component.back_to_campaign_link }}
  </p>
</div><!-- /.thanks-page .campaign -->
