/* Loto Font */
@font-face {
  font-family: 'latolight';
  src: url('../fonts/lato/lato-light-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'latobold';
  src: url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
  url('../fonts/lato/lato-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Global styles */

body {
  margin: 0;
  padding: 0;
}

.campaign,
.create-child--campaign,
.campaign-leaderboard,
.donation-page,
.path-child-campaign-list .view-child-campaign-list,
.block-views-blockchild-campaign-list-block-1,
#campaign-child-campaign-child-campaign-form,
#campaign-child-campaign-child-campaign-form .field--type-entity-reference {
  color: #292929;
  font-family: 'latolight', "Helvetica Neue",sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.subscribe a {
  pointer-events: none;
}

/* Icon Campaign Kit styles */
.toolbar-icon-campaign-kit-campaign-kit-controller:before {
  background-image: url(../images/campaign-icon.svg);
}
.toolbar-icon-campaign-kit-campaign-kit-controller:active:before,
.toolbar-icon-campaign-kit-campaign-kit-controller.is-active:before {
  background-image: url(../images/campaign-icon.svg);
}
