{# Loading libraries for Facebook, Twitter, and Google + #}
{% include '@campaign_kit/parts/campaign--social--sharing.html.twig' %}

{# Loading styles for Campaign Kit Demo module #}
{% if campaign.author_name == 'anonymous' %}
  {{ attach_library('campaign_kit/demo-styling') }}
{% endif %}

{# Load message for Campaign Component when it is inside Layout Builder form #}
{{ campaign_message }}
{{ campaign_message_warning }}
<!-- Campaign entity message html -->
{% if campaign.is_open == false  %}
  <h1>{{ "This campaign is closed."|trans }}</h1>
{% endif %}

{% if campaign.campaign_type == 'standalone' %}
  {% include '@campaign_kit/campaign--standalone--display.html.twig' %}
{% endif %}

{% if campaign.campaign_type == 'parent' %}
  {% include '@campaign_kit/campaign--parent--display.html.twig' %}
{% endif %}

{% if campaign.campaign_type == 'child' %}
  {% include '@campaign_kit/campaign--child--display.html.twig' %}
{% endif %}
