{#
/**
 * @file
 * Badge Component Template.
 *
 * Available variables:
 * - use_badge: Checkbox use Badge(Boolean).
 * - badge: A list of fields for Badge Component.
 *
 */
#}

{# Badge variables #}
{% set campaign_frequency = badge.donation_frequency_allowed %}
{% set supporters_number_monthly = badge.getNumberSupporters %}
{% set supporters_number_onetime = badge.getNumberSupporters %}
{% set funded_percentage_monthly = badge.getPercentage ~ '%' %}
{% set funded_percentage_onetime = badge.getPercentage ~ '%' %}
{% set days_left = badge.getDaysLeft.days %}
{% set days_left_message = badge.getDaysLeft.message %}
{% set badge_image_url = file_url(badge.badge_image['#items'].entity.uri.value) %}

{% if campaign_frequency == "monthly" or campaign_frequency == "onetime" %}
  {{ ('<div class="campaign-status" style="background: url(' ~ badge_image_url ~ ') no-repeat;">') | raw }}
    <div class="campaign-current">
      <div  class = "progress-bar" >

        {% if badge.percentage <= '100%' %}
          {{ ('<span style="width:' ~ badge.percentage ~ '%;">') | raw }}
        {% else %}
          {% set campaignChild_percentage = '99.5' %}
          {{ ('<span style="width:' ~ campaignChild_percentage ~ '%;">') | raw }}
        {% endif %}

      </div>
      <div class="amount-raised">
        <span>${{ badge.goal_saved|number_format }} {{ badge.currency }}</span>
      </div>
      <div class="amount-goal">
        <span>{{ 'Raised of'|trans }} ${{ badge.goal|number_format }} {{ badge.currency }}</span>
      </div>
    </div>
    <div class="campaign-percentage">
      <div class="percentage">
        <span>{{ badge.percentage }}%</span>
      </div>
      <div class="percentage-text">
        <span>{{ 'of goal'|trans }}</span>
      </div>
    </div>
    <div class="campaign-time">
      <div class="campaign-total-donors">
        <div class="num-donors">
          <span>{{ badge.getNumberSupporters }}</span>
        </div>
        <div class="supporters">
          <label>
            {{ (badge.getNumberSupporters <= 1)  ? 'Supporter'|trans : 'Supporters'|trans }}
          </label>
        </div>
      </div>
      <div class="campaign-time-left">
        {% if campaign.days_left.days >= 0 %}
          <div class="num-days">
            <span>{{ days_left }}</span>
          </div>
          <div class="days-left">
            <label>{{ days_left_message }}</label>
          </div>
        {% else %}
          <div class="days-left">
            <label>{{ days_left_message }}</label>
          </div>
        {% endif %}
      </div>
    </div>
  </div><!-- /.campaign-status -->
{% endif %}

{% if campaign_frequency == "both" %}
  <div class="campaign-badge">
    <div{{ attributes.addClass('campaign-badge--content') }}>

      <div class="campaign-badge--image">
        {% if badge.header_image %}
          {{ badge.header_image }}
        {% endif %}
        <div class="campaign-badge--duration">
          {{ days_left }}
          {% if days_left == 1 %}
            {{ 'Day Left'|trans }}
          {% else %}
            {{ 'Days Left'|trans }}
          {% endif %}
        </div>
      </div>
      <div class="campaign-badge--info">
        <div class="campaign-badge--title">
          {{ badge.title }}
        </div>

        {# Campaign Frequency: Monthly or One-time #}
        {% if badge.getCampaignStatus != "open"%}
          <div class="campaign-badge--goal">
            {{ 'Campaign complete'|trans }}
          </div>
        {% else %}
          {# Campaign Frequency Both: Monthly and One-time #}
          {% if campaign_frequency == "both" %}

            <div class="campaign-onetime">
              <div class="campaign-badge--frequency">
                <div class="campaign-frequency-type">
                  {{ 'One-Time'|trans }}
                </div>
                <div class="campaign-badge--goal">
                  <span>{{ 'Goal'|trans }} $</span>{{ badge.one_time_donation_goal }}
                </div>
              </div>
              <div class="campaign-badge--status">
            <span>{{ supporters_number_onetime }}
              {% if supporters_number_onetime == 1 %}
                {{ 'Supporter'|trans }}
              {% else %}
                {{ 'Supporters'|trans }}
              {% endif %}
            </span>
                <div class="campaign-badge--funded">
              <span class="progress-goal--value">
                <span>{{ funded_percentage_onetime }}</span>
                {{ 'Funded'|trans }}
              </span>
                </div>
              </div>
              <div class="campaign-badge--progress">
                <div class = "progress-bar" >

                  {{ ('<span style="width:' ~ funded_percentage_onetime ~ ';">') | raw }}

                </div>
              </div><!-- /.campaign-badge-progress -->
            </div><!-- /.campaign-onetime -->
            <div class="campaign-monthly">
              <div class="campaign-badge--frequency">
                <div class="campaign-frequency-type">
                  {{ 'Monthly'|trans }}
                </div>
                <div class="campaign-badge--goal">
                  <span>{{ 'Goal'|trans }} $</span>{{ badge.monthly_donation_goal }}
                </div>
              </div>
              <div class="campaign-badge--status">
            <span>{{ supporters_number_monthly }}
              {% if supporters_number_monthly == 1 %}
                {{ 'Supporter'|trans }}
              {% else %}
                {{ 'Supporters'|trans }}
              {% endif %}
            </span>
                <div class="campaign-badge--funded">
              <span class="progress-goal--value">
                <span>{{ funded_percentage_monthly }}</span>
                {{ 'Funded'|trans }}
              </span>
                </div>
              </div>
              <div class="campaign-badge--progress">
                <div class = "progress-bar" >

                  {{ ('<span style="width:' ~ funded_percentage_monthly ~ ';">') | raw }}

                </div>
              </div><!-- /.campaign-badge-progress -->
            </div><!-- /.campaign-monthly -->

            {# Campaign button donate #}
            <div class="campaign-badge--link-donate">
              {{ badge.donate_link }}
            </div>

          {% endif %}
        {% endif %}
      </div><!-- /.campaign-badge-info -->

    </div><!-- /.campaign-badge-content -->
  </div><!-- /.campaign-badge -->
{% endif %}
