:root {
  --bg-donation-button: #292929;
  --donation-button-text: #fff;
  --donation-font-size: 16px;
  --bg-main-tab: #292929;
  --main-tab-text: #fff;
  --bg-progress-bar: #92a0a4;
  --bg-percentage-goal: #fff;
  --border-percentage-goal: #3d3d3f;
  --percentage-goal-text: #3d3d3f;
  --percentage-goal-font: 32px;
  --time-icon-color: #3b3b3b;
  --organizer-icon-color: #3b3b3b;
  --beneficiary-icon-color: #3b3b3b;
}

/* Only when Badge Component is placed in a block */
.block-badge-component .campaign-status {
  max-width: 35%;
}

.campaign-status {
  font-family: 'latolight', "Helvetica Neue",sans-serif;
  background-repeat: no-repeat;
  background-color: #292929;
  background-size: 100% !important;
  background-position: 0 bottom;
  color: #fff;
  margin: 25px 0;
  padding: 21px 15px;
}

.campaign-status .campaign-percentage {
  border-radius: 50%;
  height: 90px;
  margin: 0 auto;
  position: relative;
  top: 102px;
  width: 90px;
  background: #9abd43;
  border: solid 1px #9abd43;
  color: #fff;
  line-height: 1.5;
}

.campaign-status {
  background-size: 110% !important;
}

.campaign-status {
  background-size: auto 100%;
}

.campaign-current {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 60px;
}

.campaign-current .amount-raised,
.campaign-current .amount-goal {
  display: flex;
  justify-content: flex-end;
}

.campaign-current .amount-raised {
  font-size: 32px;
  line-height: 1.5;
  margin: 0;
  min-height: 40px;
}

.campaign-current .amount-goal {
  font-size: 14px;
}

/* Progress Bar */
.progress-bar {
  background-color: #fff;
  border-radius: 5px;
  height: 6px;
  padding: 1px;
  position: relative;
  width: 100%;
}

.progress-bar span {
  border-radius: 3px;
  background-color: #9abd43;
  display: inline-block;
  height: 6px;
  position: absolute;
  top: 1px;
}

.campaign-percentage .percentage,
.campaign-percentage .percentage-text {
  display: flex;
  justify-content: center;
}

.campaign-percentage .percentage {
  font-size: var(--percentage-goal-font);
  min-height: 40px;
  padding-top: 10px;
}

.campaign-percentage .percentage-text {
  font-size: 14px;
}

/* Responsive Theming */
/* Desktop */
@media (min-width: 1200px) {

  .campaign-status {
    background-size: 112% !important;
  }

}
