{# Custom template for view Block Campaign Kit Donors #}
{% if enable == FALSE %}
  <label for="">{{ 'Please enable Campaign Kit Donors module to see the Donors Wall.'|trans }}</label>
{% else %}
  <h1 class="donor-page--title">
    {% if campaign_title %}
      {{ campaign_title }} {{ 'Donor Wall'|trans }}
    {% else %}
      {{ 'All Donors'|trans }}
    {% endif %}
  </h1>
  <div class="donor-page--content">
    {{ donor_wall }}
  </div>
{% endif %}
