{% set url = url('<current>') %}

<div class="donor-section">
  <ul class="donor-data">
    <li class="donor-row">
      <div class="donor-info {{ 'campaign/donors' in url|render|render ? 'donor-has--campaign' : '' }}">
        {% if content.anonymous.0 | raw %}
          <b>Anonymous</b>
        {% else %}
          <b>{{ content.title.0 | raw }} {{ content.first_name.0 | raw }} {{ content.last_name.0 | raw }}</b>
        {% endif %}

        {% if content.donation_frequency['#items'].getString() == "monthly" %}
          donates {{ content.currency.0 | raw }} {{ content.amount.0 | raw }} per month
        {% endif %}

        {% if content.donation_frequency['#items'].getString() == "onetime" %}
          donated {{ content.currency.0 | raw }} {{ content.amount.0 | raw }}
        {% endif %}
      </div>
      <div class="campaign-info">
        {% if 'campaign/donors' in url|render|render %}
          {{ content.campaign_id }}
        {% endif %}
      </div>
    </li>
  </ul>
</div>
