/**
 * @file
 * Campaign Kit Donor Wall CSS file.
 *
 * Custom styles for Donors List page.
 */
.donor-page--title {
  font-size: 25px;
  font-size: 1.5625rem;
  margin-bottom: 25px;
}
.donor-page--content {
  font-size: 14px;
  font-size: 0.875rem;
}
.donor-row {
  display: flex;
  flex-flow: row nowrap;
}
.donor-info.donor-has--campaign {
  width: 50%;
}
.donor-section {
 margin: 5px 0;
}
.donor-section ul.donor-data {
  margin: 0;
}
.donor-section ul.donor-data li {
  border-bottom: solid 1px #e6e4df;
  padding: 5px 0;
}
