{# Temporary template just to use for view Block Badge #}
{% if enable == FALSE %}
  <label for="">{{ 'Please enable the Campaign Kit Demonstration module to see the badge example.'|trans }}</label>
{% else %}
  {{ badge }}
{% endif %}
