{# Campaign #}
{% set badge_image_url = file_url(campaign.badge_image['#items'].entity.uri.value) %}

{% if campaign.id != '' and campaign.campaign_type == 'child' %}

  <!-- Campaign entity -->
  <div class="campaign">
    {# Campaign banner #}
    <div class="campaign-title">
      <h1>{{ campaign.title }}</h1>
    </div>
    <!-- Campaign banner -->
    <div class="campaign-banner">
      {{ campaign.header_image}}
    </div>
    {# Campaign information #}
    <!-- Campaign information -->
    <div class="campaign-information">
      <div class="campaign-description">

        <div class="campaign-short-desc">
          {{ campaign.description}}
        </div>

        {# Campaign tabs #}
        <!-- Campaign tabs -->
        <div class="tabs">

          <div class="tab">
            <input type="radio" id="supporters-tab" name="campaign-tabs" checked>
            <label for="supporters-tab">{{ 'Supporters'|trans }}</label>

            <div class="campaign-content--tab">
              <div class="campaign-content--desc">

                {% if campaign.supporters_view is null %}
                  <p class="empty-message">{{ 'There are supporters for this campaign yet.'|trans }}</p>
                {% else %}
                  {{ campaign.supporters_view }}
                {% endif %}

              </div>
            </div>
          </div>

          <div class="tab">
            <input type="radio" id="updates-tab" name="campaign-tabs">
            <label for="updates-tab">{{ 'Updates'|trans }}</label>

            <div class="campaign-content--tab">
              <div class="campaign-content--desc">

                {% if campaign.updates_view is null %}
                  <p class="empty-message">{{ 'There are no updates for this campaign yet.'|trans }}</p>
                {% else %}
                  {{ campaign.updates_view }}
                {% endif %}

              </div>
            </div>
          </div>
        </div><!-- /.tabs -->

      </div>
      <div class="campaign-data">
        {# Badge Component for each Campaign. #}
        {% if campaign.badge %}
          {{ campaign.badge }}
        {% endif %}

        {# Campaign button donate #}
        <div class="campaign-donate">
          {{ campaign.donate_link }}
        </div>

        {# Campaign social #}
        <div class="campaign-social">
          <ul>
            <li>
              <!--a href="{{ campaign.facebook_url }}" target="_blank" title="{#{ 'Share on Facebook'|trans }#}" class="facebook-icon">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                {#{ 'Share on Facebook'|trans }#}
              </a-->

              {# Facebook sharing URL #}
              <!--div class="fb-share-button" data-href="http://dev-campaign-kit.pantheonsite.io/campaign/1" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdev-campaign-kit.pantheonsite.io%2Fcampaign%2F1&amp;src=sdkpreparse">Share on Facebook</a></div-->

              {# Facebook sharing custom preview using Open Graph #}
              <div class="fb-share-button"
                data-href="{{ campaign.current_url }}"
                data-layout="button" data-size="large">
              </div>

            </li>
            <li>
              <!--a href="{{ campaign.twitter_url }}" target="_blank" title="{#{ 'Share on Twitter'|trans }#}" class="twitter-icon">
                <i class="fa fa-twitter" aria-hidden="true"></i>
                {#{ 'Share on Twitter'|trans }#}
              </a-->
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-size="large">{{ 'Share on Twitter'|trans }}</a>
            </li>
            <li>
              <!--a href="{{ campaign.instagram_url }}" target="_blank" title="{#{ 'Share on Instagram'|trans }#}" class="instagram-icon">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                {#{ 'Share on Instagram'|trans }#}
              </a-->
              <div class="g-plus" data-action="share" data-height="24" data-href="{{ campaign.current_url }}"></div>
            </li>
            <li>
              {{ campaign.email_friend_link }}
            </li>
            <li>
              <i class="fa fa-link" aria-hidden="true"></i>
              <input type="button" value="{{ 'Copy Page URL'|trans }}" onclick="copyCurrentUrl();" class="url-icon" />
              <textarea id="current-url" rows="1" cols="30"></textarea>
            </li>
          </ul>
        </div><!-- /.campaign-social -->
        <div class="data-bottom">
          <div class="time-status">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span class="label-time">{{ 'TIME LEFT'|trans }}: </span>
            {{ (campaign.days_left.days >= 1) ? campaign.days_left.days : '' }}
            {{ campaign.days_left.message }}
          </div>
          <div class="data-info">
            <p class="organizer-info">
              <i class="fa fa-heart" aria-hidden="true"></i>
              <b>{{ 'Organizer'|trans }}:</b> {{ site_name }}
            </p>
            <p class="beneficiary-info">
              <i class="fa fa-umbrella" aria-hidden="true"></i>
              <b>{{ 'Beneficiary'|trans }}:</b> {{ site_name }}
            </p>
          </div>
          <div class="subscribe">
            {{ campaign.subscribe_link }}
          </div>
        </div>

      </div>
    </div>

  </div>

{% else %}
  <div class="campaign">
    <div class="campaign-title">
      <h1>{{ "Sorry, we can't find your campaign."|trans }}</h1>
    </div>
    <p class="campaign-desc">
      {% trans %}
        Please check the <b>Campaign ID.</b>
      {% endtrans %}
    </p>
    <p class="campaign-info">
      {{ campaign.home_page_link }}
    </p>
  </div>
{% endif %}
