{{ attach_library('campaign_kit/demo-styling') }}
<div class="thanks-page campaign">
  <div class="campaign-thankyou-header">
    <div class="campaign-header-image">
      {{ campaignChild.header_image }}
    </div>
    <div class="campaign-title">
      <h1>{#{ campaignChild.donation_page_title }#}
        {{ 'Thank you for your donation.'|trans }}
      </h1>
    </div>
  </div>
  <p>
    {{ campaignChild.thankyou_message }}
  </p>
  <p class="campaign-desc">
    {% trans %}
      Please <b>check your inbox</b> for an email confirmation.
    {% endtrans %}
  </p>


  {% if campaignChild.dedicate_donation == '1' %}

    <div class="honor-details">
      <h2 class="campaign-subtitle">{{ 'Details of the dedication'|trans }}</h2>
      <p><b>{{ 'Recipient’s Info'|trans }}:</b> {{ campaignChild.recipient_mail }}</p>
      <p><b>{{ 'Recipient’s Name'|trans }}:</b> {{ campaignChild.recipient_first_name }} {{ campaignChild.recipient_last_name }}</p>
      <p class="memory-detail">
        {{ 'Your gift has been made'|trans }}
        {% if campaignChild.dedicate_type == 'in_honor_of' %}
          <span> {{ 'in honor of'|trans }} </span>
        {% else %}
          <span> {{ 'in memory of'|trans }} </span>
        {% endif %}
        <b>
          {{ campaignChild.honoree_first_name }}
          {{ campaignChild.honoree_last_name }}{{ campaignChild.recipient_message|render|trim is not empty ? ':' : '.' }}
        </b>
      </p>

      {% if campaignChild.recipient_message|render|trim is not empty %}
        <div class="memory-description">
          {{ campaignChild.recipient_message }}
        </div>
      {% endif %}

    </div>

  {% endif %}

  <p class="campaign-info">
    {{ campaignChild.back_to_campaign_link }}
  </p>
</div><!-- /.thanks-page .campaign -->
