{#
/**
 * @file team--full.html.twig
 * Custom theme implementation to present Team data.
 *
 * This template is used when viewing Team pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_team()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('team') }}>
    <div>Name: {{ team.name }}</div>
    <div>Is Available: {{ team.available }}</div>
    <div>Status: {{ team.is_published }}</div>
</div>
